#todo-error{
  color: red;
  font-size: 2em;
}

.full-heigiht{
  min-height: 100vh;
}

.todo-card{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-shadow{
  text-shadow: rgb(0, 0, 0) 1px 0 20px;
}

.bg-shade{
  background-color: rgba(0, 0, 0, .80);
}

.bg-completed{
  background-color: rgba(255, 245, 158, 0.7); 
}